################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FireBase Helper/bin
/FireBase Helper/obj
